.App {
  text-align: center;
}

.navBar { 
  background-color: rgb(40, 127, 130);
  color: aliceblue;
  min-height: 70px;
  margin: auto;
  padding: auto;
  border-style: solid;
  border-color: black;
}

.navBarText { 
  background-color: rgb(40, 127, 130);
  color: aliceblue;
  font-size: 20px;
  margin-top: 2rem;
  padding: 15px 5px 5px 5px;
  text-decoration: none;
}

.navBarText:hover {
  text-decoration: underline;
}

.vendorinfo {
  max-width: 500px;
  border: solid;
}

