.App {
  text-align: center;
}

.logo {
  position: absolute;
  left:0;
  width:300px;
}

.navBar { 
  /* background-color: #252828; */
  color: aliceblue;
  min-height: 80px;
  margin: auto;
  padding: auto;
  /* border-style: solid; */
}

.navBarText { 
  position: relative;
  left:35%;
  color: #fff;
  border-radius: 4px;
  background-color: rgb(127, 81, 218);;
  font-size: 20px;
  padding: 15px 5px 5px 5px;
  margin: 10px;
  text-decoration: none;
}

.navBarText:hover {
  text-decoration: underline;
}

.homecontainer {
  margin: auto;
  width: 90%;
}


.topbutton {
  position: fixed;
  bottom: 0;
  right: 5rem;
  display: flex;
  float: right;
  border: none;
  color: brown;
}

.search {
margin: 0 auto;
margin-top: 2rem; /* Negative half of width. */
vertical-align: middle;
}

.searchbox {
  position: relative;
  min-width: 400px;
  height: 30px;
  border-color: rgb(40, 127, 130);
  border-radius: 10px;
  margin: 0 auto;
}

.v_profile_container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
  "c-left c-right"; 
  width: 90%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.c-left { 
  grid-area: c-left; }

.c-right { 
  justify-content: center;
  text-align: center;
  padding-left: 3.2rem;
  border: solid;
  border-radius: 10px;
  min-height: 770px;
  grid-area: c-right; }

.vendorinfo {
  display: grid;
  grid-template-columns: 40% 60%; 
  grid-template-rows: 100%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "v-left v-right"; 
  min-width: 600px;
  max-width: 600px;
  min-height: 280px;
  /* max-height: 280px; */
  border: solid;
  border-radius: 10px;
} 

.v-left { 
  margin-top: 2.5rem;
  margin-left: 1.7rem;
  grid-area: v-left; }

  .v-left:hover img {
    opacity: 0.8;
  } 

.v-right { 
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  grid-area: v-right;
}

.managebiz {
  margin-top: 1rem;
  min-width: 600px;
  max-width: 600px;
}  

textarea {
  resize: vertical;
  min-height: 2rem;
}
.pwchange:hover {
  text-decoration: underline;
}

.userProfContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  gap: 0px 0px;
  max-width: 90%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  grid-auto-flow: row;
  grid-template-areas:
  "title title"
  ". ."
  ". ."; 
}

.userProfTitle {
  padding-top: 0;
  width: 100%;
  grid-area: title;
}

.userProf {
  margin-top: 2rem;
  margin-right: 2.6rem;
  border: solid;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 40% 60%; 
  grid-template-rows: 100%; 
  gap: 0px 0px; 
  grid-template-areas: 
    "v-left v-right"; 
  min-width: 600px;
  max-width: 600px;
  min-height: 280px;
  max-height: 300px;
}

.userCalendarside {
  justify-content: center;
  text-align: center;
  margin-left: 5rem;
  min-width: 500px;
  max-width: 600px;
  min-height: 600px;

}

.calendar {
border: thin rgb(40, 127, 130);
max-height: 350px;
max-width: 500px; 
}

.u-calendar {
  margin-left: 2rem;
  max-height: 350px;
  max-width: 500px; 
  }

.menu {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.menusec {
  margin: 1rem 0.5rem 0.5rem 2rem;
  min-width: 200px;
  max-width: 200px;
  min-height: 130px;
  max-height: 130px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  border: solid rgb(40, 127, 130);
}

.petsize {
  display: inline;
  list-style: none;
}

.vendorcard {
  margin: auto;
  margin-top: 1rem;
  border: solid rgb(40, 127, 130);
  width: 55rem;
  height: 15rem;
  border-radius: 8px;
}

.vendorcard:hover {
  cursor: pointer;
}

.edit {
  color: rgb(40, 127, 130);
  cursor: pointer;
}

.edit:hover {
  
  text-decoration: underline;
  transform: scale(1.05);
}
.edit:active {
  
  text-decoration: underline;
  transform: scale(0.95);
}

.petcontainer{
  display: inline-block;
  position: relative;
  width: 12rem;
  height: 20rem;
  margin: .5rem;
  border: 1px black solid;
}

.userCalendar {
  justify-content: center;
  text-align: center;
  padding: auto;
  margin: auto;
  vertical-align: middle;
}
.petcardactual{
position: absolute;
width:100%;
height: 100%;
}

.petcardactual img{
  
    width: 100%;
    height: 75%;
    object-fit: cover;
  
}

.emptyPetCard{
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
}

.selectedImg{
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.vendorFormContainer {   
  justify-content: center;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0 ;
  height:100%;
  background: rgba(101, 99, 99, 0.85);
  z-index: 999;
}

.serviceForm {
  margin: auto;
  margin-top: 5rem;
  border: solid white;
  border-radius: 15px;
  width: 360px;
  min-height: 300px;
  background-color: rgb(233, 233, 228);
}

.BookingCardContainer {
  margin-right: 3rem;
  margin-top: 1rem;
  border: solid;
  border-radius: 15px;
  background-color: rgb(237, 243, 248);
  
}

.bookingCardSec {
  display: inline-flex;
  
}

.editbutton{
  position: absolute;
  z-index: 10;
}
.editbutton:hover{
  cursor: pointer;
}

.editbutton img{
  width: 1.2rem;
  height: 1.2rem;
  padding: .2rem;
  opacity: 0.1;
}

.formCloseButton{
  position:fixed;
  background-color: aliceblue;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  align-content: center;
  left:50%;
  top:30px;
  border-radius: 15px;
}

.formCloseButton h3{
  position: relative;
  top:-15px;
}

.formCloseButton:hover{
  transform: scale(1.1);
}

.formCloseButton:active{
  transform: scale(0.95);
}

.imgUploadContainer{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  left:0;
  top:0;

}

.bookingEdit {  
  border: solid; 
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 550px;
  margin: auto;
  max-height: 100%;
  background: rgba(101, 99, 99, 0.85);
  z-index: 5;
}

.bookingStatus {
  margin: auto;
  justify-content: center;
  border: solid;
  border-radius: 15px;
  background-color: aliceblue;
  width: 80%;
}

.catsanddogs {
  width: auto;
}

.EditPetFormContainer{
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  left:0;
  top:0;

}

.EditPetFormActual{
  width: 350px;
  margin: 0 auto;
  background-color: aliceblue;
}

.inline {
  display: flex;
  text-align: center;
  margin: 0 1rem 1rem 0;
  justify-content: space-between;
  z-index: 10;
}

.serviceText {
  margin-left: 2rem;
  margin-right: 4rem;
}

.reviews {
  border: solid;
  border-radius: 10px;
  margin-top: 2.5rem;
  min-width: 600px;
  max-width: 600px;
  min-height: 420px;
}

.review-card {
  margin: auto;
  margin-bottom: 2rem;
  border: solid;
  border-radius: 13px;
  max-width: 550px;
}

.by {
  text-align: right;
  margin-right: 4rem;
}

.user-p {
  float: right;
  margin-right: 1.5rem;
}

.user-pw {
  float: right ;
  position: bottom;
  margin-right: 1.5rem;
}


/* login&signup  */


.login-title {
  color: black;
}
* { box-sizing: border-box }

/* .loginContainer {
  background-color: rgb(15, 14, 14);
} */
.form-u {
  height: 27;
  width: 25em;
  background: #fff;
  position: fixed;
  margin-top: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  overflow: auto;
  /* -webkit-overflow-scrolling: touch; */
}

.form-u > div {
  height: 6.25em;
  width: 100%;
}

.username {
  background-color: #4daf7c;
  min-height: 100px;
}

.username::after {
  content: "";
  width: 0px;
  height: 0px;
  position: fixed;
  border-style: solid;
  border-width: 0.5em 0.469em 0 0.469em;
  border-color: #4daf7c transparent transparent transparent;
  top: 6.25em;
  left: 50%;
  margin-left: -0.496em;
}

.password {
  background-color: #404241;
  min-height: 100px;
}

.password::after {
  content: "";
  width: 0px;
  height: 0px;
  position: fixed;
  border-style: solid;
  border-width: 0.5em 0.469em 0 0.469em;
  border-color: #404241 transparent transparent transparent;
  top: 12.5em;
  left: 50%;
  margin-left: -0.496em;
}

.login {
  min-width: 400px;
  background-color: #fcd450;
  min-height: 100px;
  display: table;
}

.loginButton {
  vertical-align: middle;
  margin-top: 1rem;
  font-size:2.5em;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login-input {
  height: 1.25em;
  width: 8.125em;
  font-size: 2em;
  text-align:center;
  border: 0;
  outline: 0;
  color: #fff;
  background: transparent;
  border:0.033em #fff solid;
  margin-left: 0.1em;
  margin-top: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

::placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}

.profileZone{
  background-color: rgb(182, 147, 252);
}

.whitebackground{
  background-color: white;
}